
.icon-align-left:before { content: '\e802'; } /* '' */
.icon-moon-inv:before { content: '\e806'; } /* '' */
.icon-emo-happy:before { content: '\e808'; } /* '' */
.icon-emo-wink:before { content: '\e80d'; } /* '' */
.icon-emo-wink2:before { content: '\e80f'; } /* '' */
.icon-emo-unhappy:before { content: '\e810'; } /* '' */
.icon-emo-sleep:before { content: '\e811'; } /* '' */
.icon-emo-thumbsup:before { content: '\e812'; } /* '' */
.icon-emo-devil:before { content: '\e813'; } /* '' */
.icon-emo-surprised:before { content: '\e814'; } /* '' */
.icon-emo-tongue:before { content: '\e815'; } /* '' */
.icon-emo-coffee:before { content: '\e816'; } /* '' */
.icon-emo-sunglasses:before { content: '\e817'; } /* '' */
.icon-emo-displeased:before { content: '\e818'; } /* '' */
.icon-emo-beer:before { content: '\e819'; } /* '' */
.icon-emo-grin:before { content: '\e81a'; } /* '' */
.icon-emo-saint:before { content: '\e81b'; } /* '' */
.icon-emo-angry:before { content: '\e81c'; } /* '' */
.icon-emo-cry:before { content: '\e81d'; } /* '' */
.icon-emo-squint:before { content: '\e81e'; } /* '' */
.icon-emo-shoot:before { content: '\e81f'; } /* '' */
.icon-emo-laugh:before { content: '\e820'; } /* '' */
.icon-crown:before { content: '\e821'; } /* '' */
.icon-crown-plus:before { content: '\e822'; } /* '' */
.icon-crown-minus:before { content: '\e823'; } /* '' */
.icon-chat:before { content: '\e824'; } /* '' */
.icon-comment:before { content: '\e825'; } /* '' */
.icon-ok-circled2:before { content: '\e826'; } /* '' */
.icon-cancel-circled2:before { content: '\e827'; } /* '' */