* { 
  margin: 0; 
  padding: 0; 
}
@font-face {
      font-family: 'shop';
      src: url('./font/shop.eot?11466822');
      src: url('./font/shop.eot?11466822#iefix') format('embedded-opentype'),
           url('./font/shop.woff?11466822') format('woff'),
           url('./font/shop.ttf?11466822') format('truetype'),
           url('./font/shop.svg?11466822#shop') format('svg');
      font-weight: normal;
      font-style: normal;
    }
body { 
  font: 22px Helvetica, Arial; 
}


#container {
  width: 100%;
position:absolute;
top:0;bottom:0;
  display:box;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-box;
  display:flex;
  -webkit-animation: 2s show ease;
    -moz-animation: 2s show ease;
    animation: 2s show ease;
}
@-webkit-keyframes show {
    0% { opacity: 0;}
    100% { opacity: 1}
  }
  @-moz-keyframes show {
    0% { opacity: 0;}
    100% { opacity: 1}
  }
  @keyframes show{
    0% { opacity: 0;}
    100% { opacity: 1}
  }
#wrapper1 {
	font-size:.8em;
	box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;
    flex:1;
   position:relative; 
   background:#56eed9;
   color:#fff;
   padding-left:10px;
   padding-top:10px;
}
#wrapper1 .ani{
	position:relative;
	-webkit-animation: 2s show-menu ease;
    -moz-animation: 2s show-menu ease;
    animation: 2s show-menu ease;
}

@-webkit-keyframes show-menu {
    0% { left:-100px;opacity:0;}
    100% { left:0;opacity:1;}
  }
  @-moz-keyframes show-menu {
    0% { left:-100px;opacity:0;}
    100% { left:0;opacity:1;}
  }
  @keyframes show-menu{
    0% { left:-100px;opacity:0;}
    100% { left:0;opacity:1;}
  }
#wrapper2 {
	font-size:.7em;
	box-flex:2;-webkit-box-flex:2;-moz-box-flex:2;-ms-box-flex:2;
    flex:2;
}
#mes-box{
	position:relative;
	-webkit-animation: 2s show-input ease;
    -moz-animation: 2s show-input ease;
    animation: 2s show-input ease;
}
@-webkit-keyframes show-input {
    0% { top:-40px;}
    100% { top:0}
  }
  @-moz-keyframes show-input {
     0% { top:-40px;}
    100% { top:0}
  }
  @keyframes show-input{
     0% { top:-40px;}
    100% { top:0}
  }
#mes-box form { 
  bottom: 0; 
  width: 100%; 
  height:28px;
  background:#54d5eb;
  padding:3px 0;
    display:box;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-box;
  display:flex;
}

#mes-box form input {  
outline:0;
height:20px;
padding:3px 0;
border:none;
box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;
    flex:1;
}

#mes-box form button,#mes-box form i { 

width:30px;
border:none;
background:none;
color:#fff;
font-size:20px;
}
#mes-box form button{
	height:26px;
	
}
#mes-box form i{
	height:26px;
	padding-top:2px;
}


#messages {
  list-style-type: none; 
  padding: 0; 
}

#messages li { 
  padding: 5px 10px; 
  position:relative;
  	-webkit-animation: 2s show-mes ease;
    -moz-animation: 2s show-mes ease;
    animation: 2s show-mes ease;
}
@-webkit-keyframes show-mes {
    0% { height:0;right:-40px;opacity:0;}
    100% { height:15px;right:0;opacity:1;}
  }
  @-moz-keyframes show-mes {
     0% { height:0;right:-40px;opacity:0;}
    100% { height:15px;right:0;opacity:1;}
  }
  @keyframes show-mes{
     0% { height:0;right:-40px;opacity:0;}
    100% { height:15px;right:0;opacity:1;}
  }
#messages li.mes { 
  color:#3598dc
}
#messages li.sys { 
  color:#f1c40f
}

#messages li.myself { 
  color:#2fcc71;text-align:right;
}
#messages li.exit { 
  color:#f75455
}
#messages li.sys::before,#messages li.exit::before{content:"(!)"}

#room {
  list-style-type: none;
  margin-right: 10px;
}
#room li,.new-room,#namebox{
	position:relative;
  overflow: hidden;
	font-size:1em;
	padding:10px 0 10px 10px;
	transition:background-color 1s ease-in;
}
#room li:hover,.new-room:hover,#namebox:hover{
	background:#1fbba6;
	transition:background-color .3s ease-in;	
}

#command {
  list-style-type: none;
  margin-left: 10px;
}

#roomName {
  color: #FF0000;
}

.roomBtn {
  cursor: pointer;
}

#namebox{
	font-size:1.5em;
}
#roombox{
  padding-top: 10px;
	font-size:1em;
	line-height:20px;
}
#roombox #newroom{
	border:none;
	background:none;
	color:#fff;	
	cursor:pointer;
	font-size:1em;
}
#newrname{
	border:none;
  padding:3px;
  width:100px;
}
#shownr{	
	display:none;
}
#roombox .show600{
  position:fixed;
  display:block;
  left:200px;top:200px;
  background:#56eed9;
  padding:10px;
  z-index: 2;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
}
#screencover{
  position:fixed;
  top:0;left:0;
  background:rgba(0,0,0,.3);
  width:100%;
  display: none;
  z-index: 1;
  
}
#shownr button,#shownn button{
  border:none;background: none;color: #fff;
}
#shownr i,#shownr button{font-size:1.4em;position: relative;top:4px}

#shownn{display: none;}
#newmyname{padding:5px;border:none;width:150px;}
#shownn i,#shownn button{font-size:1em;position: relative;top:4px}
@media (min-width:200px) and (max-width:600px){
body { 
 font-size:16px;
 font-family:微软雅黑;
}
#shownr i,#shownr button{font-size:1.8em;position: relative;top:4px}
}
.hide-l{
	position:relative;
  overflow: hidden;
	-webkit-animation: 1s hide-l ease;
    -moz-animation: 1s hide-l ease;
    animation: 1s hide-l ease;
}
.show-l{
	position:relative;
	-webkit-animation: 1s show-l ease;
    -moz-animation: 1s show-l ease;
    animation: 1s show-l ease;
}
.hide-t{
  position:relative;
	-webkit-animation: 1s hide-t ease;
    -moz-animation: 1s hide-t ease;
    animation: 1s hide-t ease;

}
@-webkit-keyframes hide-l {
    0% { width:50px;opacity:1;}
    100% { width:0px;opacity:0;}
  }
  @-moz-keyframes hide-l {
     0% { width:50px;opacity:1;}
    100% { width:0px;opacity:0;}
  }
  @keyframes hide-l{
     0% { width:50px;opacity:1;}
    100% { width:0px;opacity:0;}
  }
  @-webkit-keyframes show-l {
    0% { left:50px;opacity:0;}
    100% { left:0px;opacity:1;}
  }
  @-moz-keyframes show-l {
    0% { left:50px;opacity:0;}
    100% { left:0px;opacity:1;}
  }
  @keyframes show-l{
    0% { left:50px;opacity:0;}
    100% { left:0px;opacity:1;}
  }
  @-webkit-keyframes hide-t {
    0% { top:0px;opacity:1;}
    100% { top:-50px;opacity:0;}
  }
  @-moz-keyframes hide-t {
     0% { top:0px;opacity:1;}
    100% { top:-50px;opacity:0;}
  }
  @keyframes hide-t{
     0% { top:0px;opacity:1;}
    100% { letopft:-50px;opacity:0;}
  }